[submodule "api"]
	path = api
	url = git@github.com:respondflow/lago-api.git
[submodule "front"]
	path = front
	url = git@github.com:respondflow/lago-front.git
[submodule "pdf"]
	path = pdf
	url = git@github.com:respondflow/lago-gotenberg.git
